{{>navbar }}
<main>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="/company/offers">Ofertas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear Oferta</li>
        </ol>
    </nav>
    <h3>Crear Oferta:</h3>
    <div class="card">
        <form method="POST" action="/company/offer/create">
            <div class="card-body">
                <label for="company">Empresa:</label>
                <select class="form-control" name="company">
                    {{#each companies as |company|}}
                    <option value="{{company._id}}">{{company.name}}</option>
                    {{/each}}
                </select>
                <label for="jobTitle" class="col-sm-2 col-form-label">Título del Trabajo</label>
                <input class="form-control" type="text" name="jobTitle" placeholder="Titulo" required>

                <label for="salary" class="col-sm-2 col-form-label">Salario por HORAS</label>
                <input class="form-control" type="number" name="salary" placeholder="20" required>

                <label for="jobType" class="col-sm-2 col-form-label">Horario Laboral</label>
                <select name="jobType" class="form-control">
                    <option value="Tiempo completo">Tiempo completo</option>
                    <option value="Tiempo parcial">Tiempo parcial</option>
                </select>

                <label for="contractType" class="col-sm-2 col-form-label">Tipo de Contrato</label>
                <select name="contractType" class="form-control">
                    <option value="indefinido">Indefinido</option>
                    <option value="temporal">Temporal</option>
                    <option value="practicas">Practicas</option>
                    <option value="ocasional">Ocasional</option>
                </select>

                <label for="minExperience" class="col-sm-2 col-form-label">Años de Experiencia</label>
                <input class="form-control" type="number" name="minExperience" placeholder="2" required>

                <label for="description" class="col-sm-2 col-form-label">Descripción</label>
                <textarea class="form-control" name="description" rows="3" required></textarea>
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-wide">Guardar y publicar</button>
            </div>
        </form>
    </div>
</main>