<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        {{#if user.isCompany}}
        <a href="/company/offers" class="navbar-brand">CurroApp</a>
        {{else}}

        <a href="/offer/feed" class="navbar-brand">CurroApp</a>
        {{/if}}
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">CurroApp</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    {{#if user.isCompany}}
                    <li class="nav-item">
                        <a class="nav-link" href="/company/list">Mis Empresas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/company/offers">Mis Ofertas Publicadas</a>
                    </li>

                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/offer/feed">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/offer/favorite">Ofertas Favoritas</a>
                    </li>

                    {{/if}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mi Cuenta
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/profile">Mi perfil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>