<div class="home-background">
    <div class="container">
        <div class="logo">
            <img src="/images/CurroAppLogoSolo.png" width="100" class="mx-auto d-block mt-5" alt="curroAppLogo">
        </div>
    </div>
    <div class="message">
        <h3>¡Bienvenido a CurroApp!</h3>
        <h4><p> Encuentra trabajo en menos de 24h</p></h4>
        <div class="access">
            <a href="/login" class="btn-primary">Login</a>
            <a href="/register" class="btn-secondary">Registro</a>
        </div>
    </div>
</div>