<div class="home-background">
    <div class="message">
        <h1>¡Bienvenido a CurroApp!</h1>
        <p> Encuentra trabajo en menos de 24h</p>
        <div class="access">
            <a href="/login" class="btn-primary">Login</a>
            <a href="/register" class="btn-secondary">Registro</a>
        </div>
    </div>
</div>