<div class="home-background">
    <div class="message">
        <h1>Bienvenido a CurroApp</h1>
        <p> Encuentra trabajo en menos de 24h</p>
        <div class="access">
            <a href="/offer/feed" class="btn-primary">Acceso A Candidatos</a>
            <a href="/company/register" class="btn-secondary">Acceso Empresas</a>
        </div>
    </div>
</div>