<main>
    {{> navbar }}
</main>

<h4><dt>Educación:</dt></h4>

<div class="experience-information"> 
<form>
  <div class="form-row">
    <div class="row">
    <div class="form-group col-md-6">
      <label for="inputNameCompany">Nombre de la institución</label>
      <input type="text" class="form-control" id="inputNameCompany" placeholder="Nombre de la institución">
    </div>
    <div class="form-group col-md-3">
      <label for="inputlastName">Fecha de inicio:</label>
      <input type="date" class="form-control" id="inputlastName" placeholder="Apellidos">
    </div>
    <div class="form-group col-md-3">
      <label for="inputlastName">Fecha de culminación:</label>
      <input type="date" class="form-control" id="inputlastName" placeholder="Apellidos">
    </div>
</div>
</div>
<button type="submit" class="btn btn-primary">Agregar más estudios</button>
<a class="btn btn-large btn-primary" href="/profile/experience">Siguiente paso</a>
</form>
</div>