<main>
    {{> navbar }}
</main>

<h4><dt>Experiencia laboral</dt></h4>

<div class="experience-information"> 
<form>
  <div class="form-row">
    <div class="row">
    <div class="form-group col-md-6">
      <label for="inputNameCompany">Nombre de la empresa:</label>
      <input type="text" class="form-control" id="inputNameCompany" placeholder="Nombre de la empresa">
    </div>
    <div class="form-group col-md-3">
      <label for="inputlastName">Fecha de inicio:</label>
      <input type="date" class="form-control" id="inputlastName" placeholder="Apellidos">
    </div>
    <div class="form-group col-md-3">
      <label for="inputlastName">Fecha de culminación:</label>
      <input type="date" class="form-control" id="inputlastName" placeholder="Apellidos">
    </div>
</div>
</div>
<div class="form-group col-md-8">
  <label for="comment">Descripción:</label>
  <textarea class="form-control" rows="3" id="comment" placeholder="Escribe brevemente tus funciones en este puesto de trabajo"></textarea>
</div>
<button type="submit" class="btn btn-primary">Agregar otra experiencia</button>
<button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>