{{>navbar }}
<main>
    <h6>Crear Nueva Oferta</h6>
    <form method="POST" action="/company/create">
        <label for="company">Empresa:</label>
        <select class="form-control" name="company">
            {{#each companies as |company|}}
            <option value="{{company._id}}">{{company.name}}</option>
            {{/each}}
        </select>
        <label for="jobTitle" class="col-sm-2 col-form-label">Título del Trabajo</label>
        <input class="form-control" type="text" name="jobTitle" placeholder="Titulo" required>

        <label for="salary" class="col-sm-2 col-form-label">Salario por HORAS</label>
        <input class="form-control" type="number" name="salary" placeholder="20" required>

        <label for="jobType" class="col-sm-2 col-form-label">Horario Laboral</label>
        <select name="jobType" class="form-control">
            <option value="Tiempo completo">Tiempo completo</option>
            <option value="Tiempo parcial">Tiempo parcial</option>
        </select>

        <label for="contractType" class="col-sm-2 col-form-label">Tipo de Contrato</label>
        <select name="contractType" class="form-control">
            <option value="indefinido">Indefinido</option>
            <option value="temporal">temporal</option>
            <option value="practicas">practicas</option>
            <option value="ocasional">ocasional</option>
        </select>

        <label for="minExperience" class="col-sm-2 col-form-label">Años de Experiencia</label>
        <input class="form-control" type="number" name="minExperience" placeholder="2" required>

        <label for="description" class="col-sm-2 col-form-label">Descripción</label>
        <textarea class="form-control" name="description" rows="3" required></textarea>

        <button class="btn btn-success btn-wide">Guardar y Publicar</button>
    </form>
</main>