<main>
    {{> navbar }}
    <div>
        <form method="POST" action="/company/register">
            <input class="form-control" type="text" name="name" placeholder="Name" required>
            <input class="form-control" type="text" name="legalName" placeholder="legalName" required>
            <input class="form-control" type="text" name="nif" placeholder="nif" required>
            <input class="form-control" type="text" name="phoneNumber" placeholder="phoneNumber" required>
            <input class="form-control" type="text" name="email" placeholder="email" required>
            <input class="form-control" type="password" name="password" placeholder="password" required>
            <input class="form-control" type="password" name="passwordConfirm" placeholder="passwordConfirm" required>
            <button type="submit" class="btn btn-primary">Registrar Mi Empresa</button>
        </form>
    </div>
</main>