<main>
    {{> navbar }}
    <div class="card-offer-detail-head">
        <div class="card-offer-detail-head-logo">
            <img src="https://img2.freepng.es/20180625/ic/kisspng-hamburger-goiko-grill-restaurant-barbecue-food-maquinaria-5b308aa1e60df1.5612160915299078739423.jpg"
                alt="">
        </div>
        <div class="card-offer-detail-body">
            <h2> Jefe de Cocina</h2>
            <p>Goiko Grill</p>
        </div>
    </div>

    <div class="offer-data">
        <div class="box">
            <div class="box-icon-salary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="box-icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>

            </div>
            <p class="box-title">Salario</p>
            <p class="box-subtitle">60€/hora</p>
        </div>
        <div class="box">
            <div class="box-icon-contract">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="box-icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12" />
                </svg>
            </div>
            <p class="box-title">Contrato</p>
            <p class="box-subtitle">Indefinido</p>
        </div>
        <div class="box">
            <div class="box-icon-hours">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="box-icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
            <p class="box-title">Jornada</p>
            <p class="box-subtitle">Completa</p>
        </div>
    </div>
    <div class="offer-detail">
        <h3>Descripción</h3>
        <p>
            JFC Innovation es una startup con un equipo internacional que quiere tener un impacto global. Estamos
            construyendo una plataforma que facilita el alquiler de motos eléctricas. Con nuestro servicio, los viajeros
            tienen una mayor movilidad en la ciudad que visitan y además es sostenible. Por eso, buscamos a una persona
            que nos ayude a dar a conocer nuestra empresa en el mundo digital.

            Descripción del empleo

            JFC Innovation busca un becario para su departamento de marketing digital. Con nosotros tendrás la
            oportunidad de formar parte de una startup jóven y dinámica. Después de habernos expandido con éxito en
            diversos países de Europa, ahora estamos buscando a alguien como tú para que formes parte de nuestro equipo
            en España.

            Se trata de una oportunidad única e inigualable de participar en la creación de una nueva marca en una de
            las compañías de mayor crecimiento a nivel Europeo.

            Responsabilidades

            Ayudar a elaborar una estrategia de comunicación para llegar a los clientes, principalmente a través de la
            web.
            Identificar y contactar a socios potenciales clave tales como agencias de viajes, blogs, medios sociales,
            sitios web y organizadores de eventos.
            Entender las necesidades de nuestros clientes y dar soluciones.
            Gestionar y organizar eventos de la empresa.
            Analizar los resultados a través de herramientas como Google Analytics
            Ofrecemos

            Jornada a tiempo parcial (a elegir entre mañanas o tardes)
            Salario fijo: 500€ + ayuda para el transporte (hasta 150€)
            Formación en el sector de marketing digital
            Ambiente laboral sano y orientado hacia el bienestar y desarrollo profesional de cada uno de los integrantes
            de la empresa
            Posibilidad de crecer dentro de la empresa
            Requisitos

            Estudiante de publicidad/ marketing/ ADE
            Posibilidad de establecer un convenio con la universidad
            Se valorará el conocimiento de herramientas tales como Google Analytics y Adwords.
            Persona joven, dinámica, organizada y responsable con tolerancia a la frustración.
            Si crees que encajas con el perfil y quieres trabajar con nosotros, ¡solicita esta oferta!
        </p>
    </div>
    <div class="applyButton">
        <a class="btn-primary">
            Aplicar a esta oferta
        </a>
    </div>
</main>